.navbar {
  font-size: 200%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border: 10px rgb black;
}

nav ul li {
  display: inline;
  background-color: red;
}
.tab:active {
  color: hotpink;
}

.tab {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 1px white;
}
.tab:hover {
  border: rgb(255, 190, 190);
}

body {
  background-color: rgb(255, 143, 143);
  font-family: sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  font-size: 300%;
}

.right {
  margin-left: 65%;
  margin-right: auto;
  max-width: 25%;
  max-height: auto;
  animation-name: fadein;
  animation-duration: 2s;
}

.right_margin {
  margin-left: 65%;
}

.left {
  margin-right: 65%;
  animation-name: fadein;
  animation-duration: 1s;
}

.left_margin {
  margin-right: 65%;
}

.lefth {
  margin-right: 65%;
}
.piano {
  max-width: 50%;
  max-height: auto;
}

/* Movies */
.avatar_img {
  width: 20%;
  height: 20em;
  margin-left: 65%;
  margin-right: auto;
}

/* Travel */
.Container {
  display: block;
}
