nav {
  position: sticky;
  top: 0em;
  left: 0em;
  width: 100%;
  z-index: 1;
}

ul {
  font-size: 200%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgb(255, 221, 0);
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: rgb(255, 238, 125);
  animation-name: dropshadow;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

body {
  background-color: rgb(128, 128, 128);
  font-family: sans-serif;
}

p {
  font-size: 125%;
  color: white;
}

@keyframes dropshadow {
  from {
    filter: drop-shadow(0px 0px) rgb(255,221,0);
  }
  to {
    filter: drop-shadow(30px 10px #000000);
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.icon
{
  width: .5cm;
  height: auto;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  font-size: 300%;
}

.right {
  margin-left: 65%;
  margin-right: auto;
  max-width: 25%;
  max-height: auto;
  animation-name: fadein;
  animation-duration: 2s;
}

.left {
  margin-left: 3cm;
  margin-right: auto;
  animation-name: fadein;
  animation-duration: 1s;
}

.right_margin {
  margin-top: auto;
  margin-left: 65%;
}

.left_margin {
  margin-top: auto;
  margin-left: 3cm;
}

.lefth {
  margin-right: 65%;
}

.piano {
  max-width: 50%;
  max-height: auto;
  margin-left: 25%;
  margin-right: auto;
}

iframe {
  width: auto;
  height: auto;
}
/* Movies */

.mp {
  text-align: center;
  font-weight: bold;
}
.avatar_img {
  float: none;
  width: 20%;
  height: 20em;
  margin-left: 65%;
  margin-right: auto;
  border: solid black 0.25em;
  filter: drop-shadow(0.5rem 0.5rem 1rem white);
}
.endgame_img {
  width: 20%;
  height: 20em;
  margin-left: 10%;
  margin-right: 65%;
  border: solid black 0.25em;
  filter: drop-shadow(0.5rem 0.5rem 1rem white);
}
.titanic_img {
  width: 20%;
  height: 20em;
  margin-left: 65%;
  margin-right: auto;
  border: solid black 0.25em;
  filter: drop-shadow(0.5rem 0.5rem 1rem white);
}
.avatar2_img {
  width: 20%;
  height: 20em;
  margin-left: 10%;
  margin-right: 65%;
  border: solid black 0.25em;
  filter: drop-shadow(0.5rem 0.5rem 1rem white);
}
.movie_img {
  width: 50%;
  height: 50%;
  align-items: center;
  margin-left: 25%;
  margin-right: auto;
}
/* Travel */

.travel_img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: auto;
}
.mexico_img {
  width: 40%;
  height: 40%;
  margin-left: 60%;
  margin-right: auto;
}
.dr_img {
  width: 40%;
  height: 40%;
}
.dr_text {
  margin-left: 60%;
}
.spain_img {
  width: 40%;
  height: 40%;
  margin-left: 60%;
  margin-right: auto;
}
