nav {
  position: sticky;
  top: 0em;
  left: 0em;
  width: 100%;
  z-index: 1;
}

ul {
  font-size: 200%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: rgb(255, 221, 0);
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: rgb(255, 238, 125);
  animation-name: dropshadow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.logo {
  padding-top: 0.75cm;
  padding-left: 1cm;
}

body {
  background-color: rgb(128, 128, 128);
  font-family: sans-serif;
}

p {
  font-size: 125%;
  color: white;
}

@keyframes dropshadow {
  from {
    filter: drop-shadow(0px 0px) rgb(255, 221, 0);
  }
  to {
    filter: drop-shadow(15px 5px rgb(232, 201, 1));
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.icon {
  width: 0.5cm;
  height: auto;
  padding-right: 0.5em;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  font-size: 300%;
}

.piano {
  max-width: 50%;
  max-height: auto;
}

.home{
  display: flex;
  justify-content: space-around;
  padding: 25px;
  flex-direction: column;
  text-align: center;
}

.album {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.album_cover {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  max-width: 20em;
  max-height: 20em;
  padding: 25px;
}

.album:nth-child(even) {
  flex-direction: row-reverse;
}

.cover {
  height: 316px;
  width: 316px;
}

/* Movies */

.mp {
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.image {
  display: flex;
  width: 20%;
  height: 20em;
  border: solid black 0.25em;
  justify-content: right;
  align-items: center;
}
.movie_img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
/* Travel */

.travel_img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: auto;
}
.mexico_img {
  width: 40%;
  height: 40%;
  margin-left: 60%;
  margin-right: auto;
}
.dr_img {
  width: 40%;
  height: 40%;
}
.dr_text {
  margin-left: 60%;
}
.spain_img {
  width: 40%;
  height: 40%;
  margin-left: 60%;
  margin-right: auto;
}
