ul {
  font-size: 200%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: rgb(255, 143, 143);
  font-family: sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  font-size: 300%;
}

.weezer {
  margin-left: 65%;
  margin-right: auto;
  max-width: 25%;
  max-height: auto;
  animation-name: fadein;
  animation-duration: 1s;
}

h3 {
  margin-left: 65%;
}

.weezp {
  margin-left: 65%;
}

.radiohead {
  margin-left: 10%;
  animation-name: fadein;
  animation-duration: 1s;
}
.radioh {
  margin-left: 10%;
}

.radiop {
  margin-left: 10%;
}

/* Movies */
.Container {
  display: block;
}
.Avatar {
  margin-left: 20%;
}
.avatarimg {
  border: solid white;
  border-width: 5px;
  margin-right: auto;
  margin-left: 20%;
  margin-bottom: 50px;
  width: 250px;
  height: 250px;
}
.avengers {
  margin-left: 55%;
}

/* Travel */ 
